.jumbotron {
  padding-top: 7rem;
  background-color: #e2edff;
}

#Project {
  background-color: #e2edff;
}
#Contact {
  background-color: #ffffff;
}
#Keahlian {
  background-color: #e2edff;
}

#Pengalaman {
  background-color: #ffffff;
}

section {
  padding-top: 5rem;
}
